.login{
    background: black;
    height:100vh;
}

.login{
    display:grid;
    place-items: center;
    justify-content: space-evenly;
}

.login img{
    width:80%;
    height:80%;   
}

.login a{

    border:2px solid green;
    color:green;
    font-size: larger;
    font-family: sans-serif;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bolder;
}

.login a:hover{
    cursor: pointer;
    background-color: green;
    color:white;
}