.mainHeader{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.large{
    display: flex;
    justify-content:flex-end;
}

.headerRight{
    display:flex;
    align-items: center;
    margin-right: 20px;
}

.headerRight>h4{
    margin-left: 10px;
}
