.sidebar{
    flex:0.2;
    height:100vh;
    min-width:210px;
    padding :15px;
    background-color: black;
    color:white;
    
}

#logo{

    height:70px;
    object-fit:contain;
}

.sidebar_title {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}

.sidebar > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}